@import "tailwindcss";

@font-face {
  font-family: "aahub-light4";
  src:
    url("../fonts/aahub_light4.woff2") format("woff2"),
    url("../fonts/aahub_light4.woff") format("woff"),
    url("../fonts/aahub_light4.ttf") format("ttf");
  font-display: swap;
}

@layer utilities {
  .font-aahub-light4 {
    font-family: "aahub-light4", sans-serif;
    line-height: 18px;
  }
}

html {
  scroll-behavior: smooth;
}
